$sidebar-width = 50px
$sidebar-wide-width = 260px


.sidebar
  width: $sidebar-width
  background-color: rgba(#000, 0.8)
  fixed top 0 left 0 bottom 0
  z-index: 500
  transition width 0.3s cubic-bezier(0.4,0.0,0.2,1)

.content
.wideContent
  height 100%
  absolute top 0
  transition opacity 0.13s linear

.content
  width: 50px
  opacity: 1
  left 0
  z-index: 20

.wideContent
  width $sidebar-wide-width
  opacity: 0
  right 0
  z-index: 10

.icons
  width: 100%
  absolute top 50% left 0
  margin-top: -75px

.icon
  line-height: 50px
  display: block
  text-align: center
  font-size: 20px
  color #fff


:global(.sidebarFocused)
  width: $sidebar-wide-width
  background-color: #df2323
  .content
    opacity: 0
    z-index: 10

  .wideContent
    opacity: 1
    z-index: 20
