$color_dark-red         = #B52D2D
$color_red              = #ce4c4c

$color_orange2          = #e38424
$color_orange1          = #ee7b25
$color_yellow           = #fabf18

$color_green            = #7FBD47
$color_ocean            = #1fcd54

$color_light-blue       = #5BB8E6
$color_blue             = #0087DA
$color_blue_darken      = #0070B5
$color_dark-blue        = #035392

$color_white            = #ffffff
$color_light_gray       = #f0f3f7
$color_gray_1           = #d8d8d8
$color_gray_2           = #b4b7bf

$color_dark_purple_1    = #413f4f
$color_dark_purple_2    = #282636
$color_dark_purple_3    = #1e1d29

$color_black            = #000000
