.wrapper
  absolute top 100px left 0 right 0 bottom 0

.content
  transition transform 0.23s
  position: relative

.dumbSectionPlaceholder
  height: 30em

.dumbSpaceBetweenSectionPlaceholder
  height: 20px
