.wrapper
  width: 100%
  position: absolute
  opacity: 1
  white-space nowrap
  transition opacity 0.23s, transform 0.23s
  &:global(.hiddenSection)
    opacity 0

.section
  height: 100%
  transition margin-left 0.23s
