$font-gothampro-regulat-path    = '../fonts/gotham/GothamProRegular'
$font-gothampro-medium-path     = '../fonts/gotham/GothamProMedium'
$font-gothampro-bold-path       = '../fonts/gotham/GothamProBold'

$font-pt-sans-path              = '../fonts/pt-sans/PTSansRegular'
$font-pt-sans-bold-path         = '../fonts/pt-sans/PTSansBold'


@font-face {
  font-family: 'GothamPro';
  src: url($font-gothampro-regulat-path + '.eot');
  src: url($font-gothampro-regulat-path + '.eot?#iefix') format('embedded-opentype'),
      url($font-gothampro-regulat-path + '.woff') format('woff'),
      url($font-gothampro-regulat-path + '.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url($font-gothampro-medium-path  + '.eot');
  src: url($font-gothampro-medium-path  + '.eot?#iefix') format('embedded-opentype'),
      url($font-gothampro-medium-path  + '.woff') format('woff'),
      url($font-gothampro-medium-path  + '.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'GothamPro';
  src: url($font-gothampro-bold-path + '.eot');
  src: url($font-gothampro-bold-path + '.eot?#iefix') format('embedded-opentype'),
      url($font-gothampro-bold-path + '.woff') format('woff'),
      url($font-gothampro-bold-path + '.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}


@font-face {
  font-family: 'PT Sans';
  src: url($font-pt-sans-path + '.eot');
  src: url($font-pt-sans-path + '.eot?#iefix')format('embedded-opentype'),
      url($font-pt-sans-path + '.woff') format('woff'),
      url($font-pt-sans-path + '.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans Bold';
  src: url($font-pt-sans-bold-path + '.eot');
  src: url($font-pt-sans-bold-path + '.eot?#iefix')format('embedded-opentype'),
      url($font-pt-sans-bold-path + '.woff') format('woff'),
      url($font-pt-sans-bold-path + '.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
